<h1>Dashboard::Dashboard#index</h1>
<p>Find me in app/views/dashboard/dashboard/index.html.erb</p>


<% if student_signed_in? %>
	<p>I'm a Student</p>
<% end %>

<% if teacher_signed_in? %>
	<p>I'm a Teacher</p>
<% end %>